.line{
  /* height: 1px;
  background: black;
  margin: 0; */
}
.bottom-image-container {
  width: 26vw;
  height: 26vw;
  margin: 2vw;
  overflow: hidden;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, .6); */
  display: flex;
  justify-content: center;
}
.bottom-images {
  height: 26vw;
}
