.bottom-content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 100px 0 200px 0;
}

.bottom-image-container {
  background: white;
  height: 25vw;
  width: 25vw;
  display: flex;
  justify-content: center;
  margin: 0 2vw 0 2vw;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  filter: brightness(90%);
}
.bottom-image-container:hover {
  filter: brightness(100%);
  transition: filter .5s ease;
}