.register {
    /* background: yellow; */
    margin: 0;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    font-size: 18px;
}

.register form {
    /* background: blue; */
    width: 528px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    margin: 50px 0 50px 0;
}

.register p {
    margin: 0;
}

.register input {
    color: rgba(0, 0, 0, .5) 1px solid;
    caret-color: #C02932;
    height: 30px;
    width: 250px;
    margin: 0 10px 20px 0;
    padding-left: 5px;
    border: none;
    border-bottom: rgba(0, 0, 0, .5) 1px solid;
}

.register input:focus {
    outline: none;
    border-bottom: black 1px solid;
}

.register button {
    height: 40px;
    width: 150px;
    border: none;
    margin-top: 20px;
    background: rgba(0, 0, 0, .7);
    color: white;
}

.register button:focus {
    outline: none;
}

.register button:hover {
    background: black;
    transition: background .5s ease;
    cursor: pointer;
}

.input-feedback {
    color: red;
    border: 1px solid green;
    padding: 5px;
    margin-bottom: 5px;
}
