.header {
	background-color: #ffe9c8;
	width: 100%;
  padding: 10px;
  height: auto;
  border-bottom: 2px solid grey;
}

.headerLogo {
  position: relative;
  display: block;
  margin: auto;
}

.navLinksContainer {
	text-align: center;
}

.navLink {
	color: #3e3e3e;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
}