.header {
  background: rgba(255, 255, 255, 0.9);
  height: 60px;
	width: 100%;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, .4); */
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  color: #eee;
  position: fixed;
  top: 0;
  z-index: 10;
}

/* ICONS */

.contact-sign-in {
  width: 40vw;
  color: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  position: absolute;
  right: 0;
}
#contact:hover, #sign-in:hover {
  color: rgba(0, 0, 0, 1);
  transition: color .5s ease;
  cursor: pointer;
}

/* Global Trade Deals */

.header h1 {
  font-size: 25px;
  color: #111;
  margin: 0;
  margin-left: 20px;
}

/* MENU */

.navLinksContainer {
  font-size: 14px;
}
.navLink {
  color: rgba(0, 0, 0, .7);
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  margin-left: 20px;
}
.navLink:hover {
  color: #000;
  transition: color .5s ease;
}
#myContactModal, #myLoginModal {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-modal-content, .login-modal-content {
  background: rgba(255, 255, 255, 1);
  height: 80vh;
  width: 450px;
  top: 10%;
  left: calc(50% - 225px);
  position: absolute;
  z-index: 11px;
  padding: 10vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#close-contact-modal, #close-login-modal {
  position: absolute;
  right: 10px;
  top: 10px;
}
form {
  /* background: red; */
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}
.header input, textarea {
  width: 250px;
  height: 26px;
}
.header textarea {
  height: 52px;
}
.modal-title {
  /* background: pink; */
  text-align: left;
  width: 100%;
  margin: 0;
  font-size: 26px;
  margin-bottom: 20px;
}
#login {
  text-align: center;
}
.submitButton {
  margin-right: 20px;
}