.footer {
	background-color: #333;
	height: 150px;
	width: 100%;
	margin: 0;
	position: relative;
	bottom: 0;
}
.bottom-nav {
	color: #ccc;
	font-size: 14px;
}
.bottom-nav:hover {
	color: white;
	transition: color .5s ease;
}
.socialLinksContainer {
	text-align: center;
}
.fab {
	color: #ccc;
	font-size: 46px;
	margin: 20px 12px;
}
.fab:hover {
	color: white;
	transition: color .5s ease;
}
.nav-links-container {
	padding-top: 20px;
	text-align: center;
}
