.footer {
	background-color: grey;
	width: 100%;
	height: auto;
	padding: 10px;
	border-top: 2px solid grey;
}

.footerLogo {
	position: relative;
  display: block;
  margin: auto;
}

.lowerLinksContainer {
	
}

.lowerLink {

}

.socialLinksContainer {

}

.socailLink {

}