.profileContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
  background: #e8e8e8;
	padding: 10px;
}

.firstandlast {
	position: relative;
	margin: 5px;
}

.navLinksProfile {
	display: flex;
	justify-content: space-between;
}

.navLinkProfile {
	color: #555;
	margin-right: 10px;
}

.navLinkProfile:hover {
	color: black;
	transition: .5s ease;
}
