body {
  margin: 0;
  width: 100vw;
  border: 0;
  padding: 0;
  list-style: none;
}

.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
